/* Bosco page css */

html, body {
  width: 98%;
  height: 100%;
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
}

.top{
  background-color: #595959;
  color: white;
  padding: 10px;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.main{
  padding-top: 85px;
  margin: 1em;
  position: relative;
  z-index: 0;
}
kbd{
  display: inline;
}

h1{
  font-size: 1.75em;
  font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
}
/* .sticky{
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 177px;
  z-index: 1;
} */
h2{
  font-size: 1.2em;
}
h4{
  padding-top: 15px;
  font-family: "Courier New", Courier, monospace;
}
p{
  font-size: 1em;
}
img{
  width: 100%
}
ol li{
  padding: 20px;
}

